<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMatch</title>
    <link rel="stylesheet" href="/src/main/resources/team14.css/styles.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <h1>Welcome to MovieMatch</h1>
</header>
<main>
    <div class="question-container">
        <h3>Pick main genre</h3>
        <div class="main-genre-questions">
            <label for="action">Action</label>
            <input name="main-genre" type="radio" id="action" value="action">

            <label for="comedy">Comedy</label>
            <input name="main-genre" type="radio" id="comedy" value="comedy">

            <label for="drama">Drama</label>
            <input name="main-genre" type="radio" id="drama" value="drama">

            <label for="horror">Horror</label>
            <input name="main-genre" type="radio" id="horror" value="horror">

            <label for="sci-fi">Sci-fi</label>
            <input name="main-genre" type="radio" id="sci-fi" value="sci-fi">
        </div>

        <h3>Pick sub genre</h3>
        <div class="sub-genre">
            <label for="sub-action">Action</label>
            <input name="sub-genre" type="checkbox" id="sub-action" value="sub-action">

            <label for="sub-adventure">Adventure</label>
            <input name="sub-genre" type="checkbox" id="sub-adventure" value="sub-adventure">

            <label for="sub-animation">Animation</label>
            <input name="sub-genre" type="checkbox" id="sub-animation" value="sub-animation">

            <label for="sub-biography">Biography</label>
            <input name="sub-genre" type="checkbox" id="sub-biography" value="sub-biography">

            <label for="sub-comedy">Comedy</label>
            <input name="sub-genre" type="checkbox" id="sub-comedy" value="sub-comedy">

            <label for="sub-crime">Crime</label>
            <input name="sub-genre" type="checkbox" id="sub-crime" value="sub-crime">

            <label for="sub-drama">Drama</label>
            <input name="sub-genre" type="checkbox" id="sub-drama" value="sub-drama">

            <label for="sub-family">Family</label>
            <input name="sub-genre" type="checkbox" id="sub-family" value="sub-family">

            <label for="sub-fantasy">Fantasy</label>
            <input name="sub-genre" type="checkbox" id="sub-fantasy" value="sub-fantasy">

            <label for="sub-film-noir">Film-Noir</label>
            <input name="sub-genre" type="checkbox" id="sub-film-noir" value="sub-film-noir">

            <label for="sub-history">History</label>
            <input name="sub-genre" type="checkbox" id="sub-history" value="sub-history">

            <label for="sub-horror">Horror</label>
            <input name="sub-genre" type="checkbox" id="sub-horror" value="sub-horror">

            <label for="sub-music">Music</label>
            <input name="sub-genre" type="checkbox" id="sub-music" value="sub-music">

            <label for="sub-mystery">Mystery</label>
            <input name="sub-genre" type="checkbox" id="sub-mystery" value="sub-mystery">

            <label for="sub-romance">Romance</label>
            <input name="sub-genre" type="checkbox" id="sub-romance" value="sub-romance">

            <label for="sub-sci-fi">Sci-Fi</label>
            <input name="sub-genre" type="checkbox" id="sub-sci-fi" value="sub-sci-fi">

            <label for="sub-thriller">Thriller</label>
            <input name="sub-genre" type="checkbox" id="sub-thriller" value="sub-thriller">

            <label for="sub-war">War</label>
            <input name="sub-genre" type="checkbox" id="sub-war" value="sub-war">

            <label for="sub-western">Western</label>
            <input name="sub-genre" type="checkbox" id="sub-western" value="sub-western">
        </div>

        <h3>Pick duration</h3>
        <div class="duration">
            <label for="duration">Duration</label>
            <input name="duration" type="text" id="duration" placeholder="Enter max duration">
        </div>
        
        <h3>Pick platform</h3>
        <div class="platform">
            <label for="netflix">Netflix</label>
            <input type="checkbox" name="platform" id="netflix" value="netflix">

            <label for="amazon-prime">Amazon Prime</label>
            <input type="checkbox" name="platform" id="amazon-prime" value="amazon-prime">

            <label for="hulu">Hulu</label>
            <input type="checkbox" name="platform" id="hulu" value="hulu">

            <label for="disney+">Disney+</label>
            <input type="checkbox" name="platform" id="disney+" value="disney+">

            <label for="hbo-max">HBO Max</label>
            <input type="checkbox" name="platform" id="hbo-max" value="hbo-max">

            <label for="paramount+">Paramount+</label>
            <input type="checkbox" name="platform" id="paramount+" value="paramount+">

            <label for="apple-tv+">Apple TV+</label>
            <input type="checkbox" name="platform" id="apple-tv+" value="apple-tv+">
        </div>

        <button type="button" onclick="getTop5()">Search</button>
    </div>

    <div class="movie-feed">
        <h1>Top 5 movie recommendation</h1>

        <table class="top5">
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Director</th>
                <th>Platform</th>
            </tr>
            <tr th:each="Team14Entity : ${movies}">
                <td th:text="${Team14Entity.title}"></td>
                <td th:text="${Team14Entity.duration}"></td>
                <td th:text="${Team14Entity.director}"></td>
                <td th:text="${Team14Entity.platform}"></td>
            </tr>
        </table>
    </div>

    </main>
</body>
</html>
