<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>lifehack</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css05/styles05.css" th:href="@{/css05/styles05.css}" rel="stylesheet"/>
</head>

<body>
<h1>Sweat today, succes tommorow</h1>
<p></p>
<p></p>

<div id="page">

    <header>
<p>dette er en header</p>

    </header>

    <main>


        <div class="info-box">
            <h2>info</h2>
            <p>overskrift</p>
        </div>

    </main>

    <footer>
         footer
    </footer>
</div>



</body>
</html>