<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>lifehack</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/public/team05/css05/styles05.css" th:href="@{/team05/css05/styles05.css}" rel="stylesheet"/>
</head>

<body>

<div class="container">
  <h1>Your workout log</h1>
  <hr class="divider" />

  <!-- Ændret knappen til et link -->
  <a href="/upload.html" class="add-button">Add Workout</a>
</div>

</body>
</html>
