<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload team05Workout</title>
    <link href="team05/css05/upload.css" rel="stylesheet"/>
</head>
<body>
<div class="uploadheader">
    <h1>Log your team05Workout</h1>
</div>
<div class="add-team05Workout-form">
    <form method="post" action="/add-team05Workout">
        <label for="type_id">Type of team05Workout</label>
        <select id="type_id" name="type_id">
            <option value="1">Cardio</option>
            <option value="2">Interval</option>
            <option value="3">Strength</option>
            <option value="4">Pilates</option>
            <option value="5">Yoga</option>
            <option value="6">Calisthenics</option>
            <option value="7">Powerlifting</option>
            <option value="8">Cycling</option>
            <option value="9">Walk or Hike</option>
        </select>

        <label for="date">Date of team05Workout:</label>
        <input type="date" id="date" name="date" required>

        <label for="duration">Duration (minutes):</label>
        <input type="number" id="duration" name="duration" min="1" step="1" required>

        <label for="extra_notes">Extra notes (intensity, location, etc?)</label>
        <textarea id="extra_notes" name="extra_notes" rows="3"></textarea>

        <button class="button" type="submit">Add team05Workout to my log</button>
    </form>
</div>
</body>
</html>
