<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../public/team01/css/styles.css" th:href="@{/team01/css/styles.css}" rel="stylesheet"/> <!--th:href="@{/css/styles.css}"-->
    <title>Title</title>
</head>
<body>
<div class="game_position">

    <!--refer to new page-->
    <a class="menu_button" th:href="@{/team01/quiz}">
        <button>start new game</button>
    </a>
</div>
<footer>
    <!--placeholder name-->
    <h1> not jeopardy</h1>
</footer>
</body>
</html>