<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Click the Chick!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lifehack-team-08/css/styles.css" rel="stylesheet"/>
    <style>
        body {
            background-image: url('/lifehack-team-08/images/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            position: relative;
        }
    </style>
</head>
<body>

<div class="shopContainer">
    <img src="/lifehack-team-08/images/shop.png" class="shopsign" alt="Shop Sign">
</div>


<div class="egg-counter">
    <img src="/lifehack-team-08/images/currency.png" class="egg-label" alt="Eggs">
    <span id="egg-counter">0</span>
</div>


<div class="chicken-box" onclick="incrementCounter()">

</div>

<div class="shop-box" onclick="openShop()"></div>

<div id="shop-window" class="shop-window">
    <h2>Welcome to the shop!</h2>
    <div class="shop-content">
        <p>Buy chicken feed</p>
        <span id="upgrade-text-1" class="upgrade-info">Upgrade 0/5 - 50 eggs</span>
        <button id="buy-chicken-feed" onclick="buyItem('chickenFeed')">Buy</button>
    </div>

    <div class="shop-content">
        <p>Buy predator</p>
        <span id="upgrade-text-2" class="upgrade-info">Upgrade 0/5 - 100 eggs</span>
        <button id="buy-predator" onclick="buyItem('predator')">Buy</button>
    </div>
    <div id="close-button" onclick="closeShop()">Close</div>
</div>

<div>
    <img src="/lifehack-team-08/images/chicken.png" class="chickenImg" id="chicken-img">
</div>


<div id="predator-container"></div>


<script src="/lifehack-team-08/js/game.js"></script>

</body>
</html>