<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/lifehack-team-08/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <style>
        body {
            background-image: url('../../public/lifehack-team-08/images/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="shopContainer">
    <img src="../../public/lifehack-team-08/images/shop.png" class="shopsign">
</div>


</body>
</html>
