h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
    color: #78009E;
}

p {
    text-align: center;
    font-size: 1.5rem;
    color: #78009E;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E8FFFC;
    position: relative;
}

a.login-link {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

a.login-link:hover {
    color: #444;
}

.logo {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: auto;
    position: relative;
    top: -40px;
}

.start-page .logo{
    top:-20px

}
.login-page .logo {
    top: -60px;
}

.loggedin-page .logo {
    top: -150px
}

.logo-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../../team10/images/trainnow.png') no-repeat center center;
    background-size: contain;
    opacity: 0.1;
    width: 80vw;
    height: 80vh;
    z-index: -1;
}
.options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.option-button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #78009E;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.option-button:hover {
    background-color: #5a0075;
}


