<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Filosoffernes hjørne</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/teamteachers/css/styles.css" th:href="@{/teamteachers/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="page-wrapper">
    <h1>Filosoffernes hjørne</h1>

    <div class="grid-container">

        <form class="ask-form grid-item speech-container" method="post">

            <svg class="speech-buble-left" data-name="speech-buble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 718.64 620.32">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #eeeeee;
                        }
                    </style>
                </defs>
                <g id="Capa_1" data-name="Capa 1">
                    <path class="cls-1" d="m166.38,571.97l11.67,5.91c54.88,27.75,117.57,42.44,181.26,42.44,198.13,0,359.33-139.14,359.33-310.15S557.45,0,359.32,0,0,139.14,0,310.17c0,71.08,28.62,140.57,80.59,195.64l5.29,5.61.24,7.7c.88,27.66-4.08,65.16-28.66,101.2,47.08-.75,90.41-33.54,98.69-40.17l10.22-8.18Z"/>
                </g>
            </svg>

            <textarea class="speech-textarea" name="ask" rows="3" placeholder="Stil dit spørgsmål om livet her" required></textarea>
            <button class="button" type="submit" formaction="/philosophers">Gør mig vis</button>
        </form>

        <div class="grid-item middle-row ">
            <img class="ionic-column" src="../../public/teamteachers/images/greek-ionic-column.svg" alt="Ionic Column"
                 th:src="@{/teamteachers/images/greek-ionic-column.svg}"/>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>

        <div class="words-of-wisdom">
            <div class="quote-wrapper  middle-column">
            <span class="words-of-wisdom-quote" th:if="${not #strings.isEmpty(quote)}" th:text="${quote}">
            </span></div>
            <div></div>
            <div class="philosopher"  th:if="${not #strings.isEmpty(philosopher)}" th:text="${philosopher}"></div>
            <div></div>

            <div class="words-of-wisdom-portait">
                <img class="philosopher-image" src="../../public/teamteachers/images/socrates.webp" alt="Socrates"
                     th:src="@{'/teamteachers/images/' + ${philosopherImage}}" th:if="${not #strings.isEmpty(quote)}"/>
            </div>
        </div>
    </div>


</div>

</body>
</html>
