<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lifehack team 6 - IMDBGuessr frontpage</title>
    <link href="../../public/team06/css/styles.css" th:href="@{lifehack_team_6/css/styles.css}" rel="stylesheet"/>
    <script src="../../public/team06/javascript/script.js" th:src="@{lifehack_team_6/javascript/script.js}"></script>
</head>
<body>
<p>IMDB GUESSR - Top 100 Movies</p>

<div class="container">
    <span class="digit" id="hr">00</span>
    <span class="txt">Hr</span>
    <span class="digit" id="min">00</span>
    <span class="txt">Min</span>
    <span class="digit" id="sec">00</span>
    <span class="txt">Sec</span>
    <span class="digit" id="count">00</span>
</div>
<br><br><br>


<br><br><br><br><br><br><br>

<form method="post" action="/guess" autocomplete="off">
    <div class="game-box">
        <h3 class="counter" th:text="${counter}">0/100</h3> <!-- Display the counter -->
        <input type="text" id="team16User-input" name="team16User-input" placeholder="Type your guess here" autocomplete="off">
        <button type="submit" name = "team16User-input" formaction="/guess">Submit guess</button>
    </div>
</form>


<div><p class="movie-detail-txt" th:unless="${#strings.isEmpty(message)}" th:text="${message}"> </p></div>

</body>
</html>