<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>FourThingsPlus</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/team12/css/team12_styles.css" th:href="@{/team12/css/team12_styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="page-container">
    <header>
        <a href="team12_index.html" th:href="@{/}">
            <img class="logo" src="../../public/team12/images/SleepTrackerLogo.png"
                 th:src="@{/team12/images/SleepTrackerLogo.png}" alt="Sleep Tracker Logo">        </a>
    </header>


    <h1>Here you can create a sleep profile</h1>

    <form class="generic-form" method="post">
        <input type="text" name="username" placeholder="Enter username"/>
        <input type="password" name="password1" placeholder=" Enter password"/>
        <input type="password" name="password2" placeholder=" Enter password again"/>

        <button type="submit" formaction="/createuser">Create profile</button>

        <div><p th:text="${message}"></p></div>
    </form>

    <div >

        <a th:if="${session.currentUser != null}" href="team12_index.html" th:href="@{/logout}" class="logout-create"> Log out </a>
    </div>

</div>
</body>
</html>
