<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Sleeptracker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/team12/css/team12_styles.css" th:href="@{/team12/css/team12_styles.css}" rel="stylesheet"/>

</head>

<header class="header-app">
    <h1 class="text-custom">Sleep Tracker</h1>


</header>

<body class="bg-custom">
    <h1 class="text-custom">Sleep Tracker</h1>
    <p class="text-custom">Keep a track on your sleep</p>
</body>


<footer class="footer-app">
    <a href="#" class="footer-btn">Login</a>
    <a href="#" class="footer-btn">prof</a>
    <a href="#" class="footer-btn">Dash</a>
    <a href="#" class="footer-btn">Dash</a>
</footer>


</html>
