<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/lifehack_team_16/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="Container">
    <h1>Stay Hydrated</h1>

    <p th:integer="${waterMl}"></p>

    <form action="/addWater" method="post">

        <label for="Water">Email</label>
        <input type="text" id="Water" name="Water" placeholder="Water"/>
        <button type="submit">Add Water</button>

    </form>

</div>
</body>
</html>