<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Water Log</title>



</head>
<header>
    <h1>Water Log</h1>
</header>
<body>

<h3 class="indexH3">Ready to track your daily <br> water consume?</h3>

<form>
    <button class="SignUp" type="submit" formaction="/login">Sign Up</button>
</form>
    <p>Already signed up? <a href="/SignIn">Log in</a> </p>

<h2 class="indexH2">We track and help you reach<br>
    your daily consuming<br>
    water goal!
</h2>

*-- Images --*

<p class="indexAlmost">Almost there!</p>
<p class="indexfact">Did you know that too little water over a longer period<br>
effects you peformance mentally and physichly
</p>

</body>
</html>