body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    margin: 20px;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer alle elementer inde i .page */
}

h1 {
    color: #5c6bc0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

textarea.form-control {
    height: 120px;
    resize: none;
}

input[type="text"] {
    width: 100%;
}

button {
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 50px;
    background-color: #4caf50;
    color: white;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto; /* Centrerer knappen horisontalt */
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.input-group {
    margin-top: 20px;
}

.input-group .form-control {
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

.create-event-btn {
    width: 60px;
    height: 60px;
    background-color: #4caf50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.create-event-btn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}
