<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lifehack team 6 - IMDBGuessr frontpage</title>
    <link href="../../public/lifehack_team_6/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <p>IMDB GUESSR - Top 100 Movies</p>
    <p class="timer">00:00</p>
    <p class="counter" th:text="${counter}">0/100</p> <!-- Display the counter -->
</header>

<script src="../../public/lifehack_team_6/javascript/script.js"></script>

<div class="main-content">
    <form method="post">
        <div>
            <input type="text" id="user-input" name="user-input" placeholder="Type your guess here">
            <button type="submit">Submit guess</button>
        </div>
    </form>
    <div class="correct-guess-message">
        <p>Movie details here! How?</p>
    </div>

</div>
<div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"> </p></div>

<div class="container">
    <span class="digit" id="hr">00</span>
    <span class="txt">Hr</span>
    <span class="digit" id="min">00</span>
    <span class="txt">Min</span>
    <span class="digit" id="sec">00</span>
    <span class="txt">Sec</span>
    <span class="digit" id="count">00</span>
</div>
<br><br><br>
<div id="stopwatch-buttons">
    <button class="btn" id="start">Start</button>
    <button class="btn" id="stop">Stop</button>
    <button class="btn" id="reset">Reset</button>
</div>

</body>
</html>