<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lifehack team 6 - IMDBGuessr frontpage</title>
    <link href="../../public/lifehack_team_6/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>

<div class="container">
    <span class="digit" id="hr">00</span>
    <span class="txt">Hr</span>
    <span class="digit" id="min">00</span>
    <span class="txt">Min</span>
    <span class="digit" id="sec">00</span>
    <span class="txt">Sec</span>
    <span class="digit" id="count">00</span>
</div>
<br><br><br>
<div id="stopwatch-buttons">
    <button class="btn" id="start">Start</button>
    <button class="btn" id="stop">Stop</button>
    <button class="btn" id="reset">Reset</button>
</div>
<script src="../../public/lifehack_team_6/javascript/script.js"></script>
</body>
</html>