<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lifehack team 6 - IMDBGuessr frontpage</title>
    <link href="../../public/lifehack_team_6/css/styles.css" th:href="@{lifehack_team_6/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<p>IMDB GUESSR - Top 100 Movies</p>

<div class="container">
    <span class="digit" id="hr">00</span>
    <span class="txt">Hr</span>
    <span class="digit" id="min">00</span>
    <span class="txt">Min</span>
    <span class="digit" id="sec">00</span>
    <span class="txt">Sec</span>
    <span class="digit" id="count">00</span>
</div>
<br><br><br>
<div id="stopwatch-buttons">
    <button class="btn" id="start">Start</button>
    <button class="btn" id="stop">Stop</button>
    <button class="btn" id="reset">Reset</button>
</div>

<script src="../../public/lifehack_team_6/javascript/script.js"></script>

<br><br><br><br><br><br><br>

<form method="post" action="/guess">
    <div class="game-box">
        <h3 class="counter" th:text="${counter}">0/100</h3> <!-- Display the counter -->
        <input type="text" id="user-input" name="user-input" placeholder="Type your guess here">
        <button type="submit" name = "user-input" formaction="/guess">Submit guess</button>
    </div>
</form>
<div class="correct-guess-message">
    <p>Movie details here! How?</p>
</div>

<div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"> </p></div>

</body>
</html>