<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lifehack team 6 - IMDBGuessr frontpage</title>
    <link href="../../public/lifehack_team_6/css/styles.css" th:href="@{lifehack_team_6/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="header-bar">
    <div class="container-header">
        <h2 class="header-text">IMDB Guessr</h2>
        <img src="lifehack_team_6/images/pngwing.com-2022-02-20T081900.534.png" alt="movie logo">
    </div>
</div>

<div class="button-container">
    <a href="/startgame" class="start-button">Start Top 100</a>
</div>

<img src="lifehack_team_6/images/fnnuohi0u7h71.png" alt="wojak" class="wojak-image">

</body>
</html>
