<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
    <title>Water Log</title>
</head>
<body>

<h1>Water Log</h1>


<p class="indexTextBox1">Ready to track your daily<br>water consume?</p>
<form  class="indexForm">
    <a class="indexButton" href="createuser.html" th:href="@{createuser}">Create team16User</a>

    <p class="indexSignIn">Already signed up? <a th:href="@{SignIn}" href="SignIn.html">Log-in</a></p>
</form>


<p class="indexTextBox2">We track and help you reach your <br>daily goal of water consume!</p>

<!-- two png images  here -->

<p class="indexTextBox3">Almost There!</p>

<p class="indexTextBox4">Did you know that too little water over a longer period<br>
    effects your body mentally and phsyichly</p>


</body>
</html>