<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>DårligJoke</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/team7_styles.css" th:href="@{/css/team7_styles.css}" rel="stylesheet"/>
</head>

<header>
    <a href="team7_index.html" th:href="@{/}">
        <img src="../../public/team07/images/BadJokes.png" height="150" width="400"/></a>
    </a>
</header>

<body>


<h1>Lifehack spring 2025</h1>

<h2>Første joke</h2>



</body>

<footer>
    Made my P, N and N
</footer>
</html>
