<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Mail Reminders - Dashboard</title>

    <!--- external assets --->
    <link th:href="@{/lifehackTeam3/css/styleslifehackTeam3Dashboard.css}" rel="stylesheet"/>
    <script th:src="@{/lifehackTeam3/js/dashboard.js}"></script>

</head>
<body class="dashboard-page">
<header class="top-nav">
    <div class="logo-container">
        <img th:src="@{/lifehackTeam3/images/logoimg.png}" alt="logo"/>
    </div>

    <div class="user-info">
        <span>Logged ind: {user}</span>

        <div class="logout-button">
            <form method="post" th:action="@{/logout}">
                <button type="submit" class="Logout">Logout</button>
            </form>

    </div>
</header>

<main class="content">
    <h2>Påmindelser</h2>

    <!-- Reminder1 -->
    <div class="reminder-item">
        <span>Træning &amp; Sundhed</span>
        <button class="tilmeld-btn">Tilmeld</button>
    </div>

    <!-- Reminder2 -->
    <div class="reminder-item">
        <span>Ta' en skive</span>
        <button class="tilmeld-btn">Tilmeld</button>
    </div>

    <!-- Reminder3 -->
    <div class="reminder-item">
        <span>Rygestop</span>
        <button class="tilmeld-btn">Tilmeld</button>
    </div>
</main>
</body>
</html>
