body    {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/IMDb_FeaturedImage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}


.header-bar {
    width: 100%;
    background-color: #deb522;
    margin: 0;
    top: 0;
    padding: 10px;
}

.header-text    {
    padding: 8px;
    text-align: center;
    font-size: 42px;
}

.button-container   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.instructions-txt   {
    font-size: 60px;
    background: linear-gradient(to right, #deb522, #fcf7f7, #deb522);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: solid #fcf7f7;
    border-radius: 10px;

}

.start-button   {
    background-color: #deb522;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    cursor: pointer;
    margin: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;

}
.start-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: goldenrod;
}

.container-header   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-header img   {
    width: 100px;
    height: auto;
}

.container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    float: right;
}

.wojak-image    {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 35%;
}

.game-box   {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #deb522;
    border-radius: 10px;
}

.game-box input, button    {
    width: 80%;
    min-width: 185px;
    padding: 10px;
    font-size: 18px;
    display: block;
    margin: 10px auto;
}

.movie-detail-txt   {
    background-color: #404040;
    width: 30%;
    min-width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 32px;
}

.digit  {
    font-size: 60px;
    color: white;

}

.txt    {
    font-size: 16px;
    margin: 8px;
    color: white;
}

p {
    color: white;
}