.signIn-box{
    display: flex;
    justify-content: center;
    border: 2px;
    padding-top: 100px;

}

.signIn-items{
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #002E6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}