<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Newsletters</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/lifehack_team_13/css/styles1.css" rel="stylesheet"/>
</head>

<body>
<header>
  <div class="header-box"></div>
</header>

<div class="flipaCoin">
  <img src="/public/lifehack_team_13/images/flipacoin.png" alt="Flip a Coin">
</div>

<div class="coin" id="coin">
  <img src="/public/lifehack_team_13/images/heads.png" alt="Heads" id="heads" class="coin-side">
  <img src="/public/lifehack_team_13/images/tails.png" alt="Tails" id="tails" class="coin-side">
</div>

<button id="flipButton">
  <img src="/public/lifehack_team_13/images/flipit.png" alt="Flip Coin Button">
</button>

<div class="score-container">
  <img src="/public/lifehack_team_13/images/score.png" alt="Score Image">
  <p id="score">0</p>
</div>

<div class="leaderboard">
  <img src="/public/lifehack_team_13/images/leaderboard.png" alt="Leaderboard">
</div>

<div class="howtoplay">
  <img src="/public/lifehack_team_13/images/howtoplay.png" alt="How to Play">
</div>

<p id="result"></p>

<script src="/public/lifehack_team_13/js/script.js"></script>

<footer>
  <div class="footer-box"></div>
</footer>
</body>
</html>
