<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/team7/css/team7_sub_styles.css" th:href="@{/css/team7_styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="header">
    <a href="team7_frontpage.html">
        <img src="../../public/team7/images/go_back_arrow.png" alt="tilbage til forsiden" class="logo">
    </a>
    <h1>Dagens Dårlige <br> Jokes</h1>
</div>

<div class="container">
    <img src="../../public/team7/images/moving_emoji.gif" alt="SunglassMan" class="emoji">

    <div class="login-box">
        <h2>Login</h2>
        <form method="post">
            <label for="Username">Username</label>
            <input type="text" id="Username" name="Username" placeholder="Username">

            <label for="Password">Password</label>
            <input type="text" id="Password" name="Password" placeholder="Password">

            <button type="submit" formaction="/login">Login</button>
        </form>
        <a href="#" class="forgot-password">Forgot password?</a>
    </div>

    <img src="../../public/team7/images/real-transparent-emoji.png" alt="Cool Emoji" class="emoji">
</div>
</body>
</html>