<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>DårligJoke</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/team7/css/team7_styles.css" th:href="@{/css/team7_styles.css}" rel="stylesheet"/>

<body>

<div class="header">Dagens Dårlige Jokes</div>
<input type="text" id="JokeField" th:value="aælksdjfk" placeholder="press the button for a joke" readonly>

<div class="flex-box-center">
    <a href="team7_frontpage.html" class="category-button">Far Jokes</a>
    <a href="team7_frontpage.html" class="category-button">Mor Jokes</a>
    <a href="team7_frontpage.html" class="category-button">Jesper Jokes</a>
    <a href="team7_try_luck.html" class="category-button">Prøv Lykken</a>
    <a href="team7_frontpage.html" class="category-button">National Jokes</a>
    <a href="team7_frontpage.html" class="category-button">Blondine Jokes</a>
    <a href="team7_frontpage.html" class="category-button">Datamatiker Jokes</a>

</div>

<div class="info-box">
    <h2>Kategori Oversigt:</h2>
    <ul>
        <li><span class="category-box"></span>Far Jokes</li>
        <li><span class="category-box"></span>Mor Jokes</li>
        <li><span class="category-box"></span>National Jokes</li>
        <li><span class="category-box"></span>Dat Jokes</li>
        <li><span class="category-box"></span>Jesper Jokes</li>
        <li><span class="category-box"></span>Blondine Jokes</li>
    </ul>
</div>

<div class="flex-box-center-with-m">

    <a href="sub.html" class="category-button">Subscribe</a>
    <a href="login.html" class="category-button">Login</a>


</div>




</body>
</html>