<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>DårligJoke</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/team7/css/team7_styles.css" th:href="@{/css/team7_styles.css}" rel="stylesheet"/>

<body>

<div class="header">Dagens Dårlige Jokes</div>
<div class="joke-box" id="joke-box">Her kommer din joke...</div>

<div class="categories">
    <button class="category-button">Far Jokes</button>
    <button class="category-button">Mor Jokes</button>
    <button class="category-button">Jesper Jokes</button>
    <button class="category-button">Prøv lykken</button>
    <button class="category-button">National Jokes</button>
    <button class="category-button">Blondine Jokes</button>
    <button class="category-button">Datamatikker Jokes</button>
</div>
</body>
</html>