<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>DårligJoke</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/team7/css/team7_styles.css" th:href="@{/css/team7_styles.css}" rel="stylesheet"/>

<body>

<div class="header">Dagens Dårlige Jokes</div>
<input type="text" id="JokeField" placeholder="press the button for a joke" readonly>

    <form method="post">
        <button class="category-button" formaction="/DadJokes" onclick="getJoke('far')">Far Jokes</button>
        <button class="category-button" formaction="/MomJokes" onclick="getJoke('mor')">Mor Jokes</button>
        <button class="category-button" formaction="/JesperJokes" onclick="getJoke('jesper')">Jesper Jokes</button>
        <button class="category-button" formaction="/TryLuck" onclick="getJoke('prøv lykken')">Prøv Lykken</button>
        <button class="category-button" formaction="/NationalJokes" onclick="getJoke('national')">National Jokes</button>
        <button class="category-button" formaction="/BlondeJokes" onclick="getJoke('blonde')">Blonde Jokes</button>
        <button class="category-button" formaction="/DatamatikerJokes" onclick="getJoke('datamatiker')">Datamatiker Jokes</button>
    </form>
</body>
</html>