<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link href="../../public/lifehack-team-17/css/calculator.css" th:href="@{/lifehack-team-17/css/calculator.css}" rel="stylesheet"/>
</head>


<body>

<div>

  <header>
    <a>
      <img src="../../public/lifehack-team-17/images/sugarLogo.png" th:src="@{/lifehack-team-17/images/sugarLogo.png}"/>
    </a>

  </header>


  <div class="redirect_button">
    <a href="calculator.html">Lommeregner</a>
    <a href="consequences.html" th:href="@{/consequence}">Konsekvenser</a>
  </div>


  <div class="content">
    <label for="sodas">Tilføj en sodavand:</label>

    <select class="dropdown" id="sodas" name="sodas">
      <option th:each="sodas : ${sodas}" th:value="${sodas.name}" th:text="${sodas.name}"></option>

    </select>

    <button>Tilføj</button>

    <p>Tilføjet sodavande</p>
    <p>Total kalorier: 1050 kcal</p>
  </div>



  <div class="footer">
    <p>Dette er en footer</p>
  </div>

</div>

</body>
</html>