<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link href="../../public/lifehack-team-17/css/consequences.css" th:href="@{/lifehack-team-17/css/consequences.css}" rel="stylesheet"/>
    <script></script>
</head>


<body>


<img th:src="@{/lifehack-team-17/images/sugar.jpg}" src="../../public/lifehack-team-17/images/sugar.jpg" class="background-image" />

<header class="top-bar">
    <a href="calculator.html" th:href="@{/calculator}" class="top-button">Lommeregner</a>
    <a href="consequences.html" th:href="@{/consequence}" class="top-button">Konsekvenser</a>
</header>

    <div class="content">
        <label for="sodas">Tilføj en sodavand:</label>

        <select class="dropdown" id="sodas" name="sodas">
            <option
                    th:each="sodas : ${sodas}" th:value="${sodas.name}"
                    th:text="${sodas.name + ' - ' + sodas.liter}">
            </option>
        </select>
    </div>

    <main class="content">
        <section class="box">
            <h2>Navn</h2>
            <p>
                Coca Cola<br>
            </p>
        </section>

        <section class="box">
            <h2>Liter</h2>
            <p>
                5 Liter <br>
            </p>
        </section>
    </main>

</body>
</html>