<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <title>Consequences</title>
    <link href="../../public/lifehack-team-17/css/consequences.css" th:href="@{/css/consequences.css}" rel="stylesheet"/>
</head>
<body>

<img src="../../public/lifehack-team-17/images/dentistcover.png" class="background-image" />

<header class="top-bar">
    <a href="calculator.html" class="top-button">Lommeregner</a>
    <a href="consequences.html" class="top-button">Konsekvenser</a>
</header>


<main class="content">
    <section class="box">
        <h2>Konsekvens A</h2>
        <p>
            Hyppigt indtag af sukkerholdige drikkevarer som sodavand <br>
            kan føre til en stigning i blodglukoseniveauerne, hvilket <br>
            kan øge risikoen for at udvikle type 2-diabetes. <br>
        </p>
    </section>

    <section class="box">
        <h2>Konsekvens B</h2>
        <p>
            De høje mængder sukker og syrer i sodavand kan skade <br>
            tandemaljen, hvilket øger risikoen for <br>
            karies og tandforfald. <br>

        </p>
    </section>

    <section class="box">
        <h2>Konsekvens C</h2>
        <p>
            Langvarigt indtag af sukkerholdige drikkevarer er <br>
            blevet forbundet med en øget risiko for hjerte-kar-sygdomme, <br>
            da det kan føre til forhøjet blodtryk, øgede niveauer af dårligt <br>
            kolesterol og betændelse i kroppen. <br>
        </p>
    </section>

    <section class="box">
        <h2>Konsekvens D</h2>
        <p>
            Sodavand indeholder ofte meget sukker og kalorier, <br>
            hvilket kan føre til vægtøgning, hvis det indtages <br>
            i store mængder. Dette kan øge risikoen for overvægt og <br>
            relaterede sundhedsproblemer. <br>
        </p>
    </section>
</main>

</body>
</html>