<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link href="../../public/lifehack-team-17/css/styles.css" th:href="@{/lifehack-team-17/css/styles.css}" rel="stylesheet"/>
</head>


<body>

<div>

<header>
    <a>
        <img src="../../public/lifehack-team-17/images/sugarLogo.png" th:src="@{/lifehack-team-17/images/sugarLogo.png}"/>
    </a>

</header>

<div class="redirect_button">
    <a href="calculator.html">Lommeregner</a>
    <a href="consequences.html">Konsekvenser</a>
</div>



    <div class="content">

        <p>Konsekvens 1</p>
        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blaa bla bla bla bla bla bla bla bla bla bla
        </p>

    </div>

    <div class="content">
        <p>Konsekvens 2</p>
        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blaa bla bla bla bla bla bla bla bla bla bla
        </p>

    </div>

    <div class="footer">
        <p>Dette er en footer</p>
    </div>

</div>

</body>
</html>