<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <title>Consequences</title>
    <link href="../../public/lifehack-team-17/css/consequences.css" th:href="@{/css/consequences.css}" rel="stylesheet"/>
</head>
<body>

<img src="../../public/lifehack-team-17/images/dentistcoverp2.png" class="background-image" />

<header class="top-bar">
    <a href="calculator.html" th:href="@{/calculator}">Lommeregner</a>
    <a href="consequences.html" class="top-button">Konsekvenser</a>
</header>


<main class="content">
    <section class="box">
        <h2>Konsekvens A</h2>
        <p>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla
        </p>
    </section>

    <section class="box">
        <h2>Konsekvens B</h2>
        <p>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla
        </p>
    </section>

    <section class="box">
        <h2>Konsekvens C</h2>
        <p>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla
        </p>
    </section>

    <section class="box">
        <h2>Konsekvens D</h2>
        <p>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla <br>
            Bla bla bla
        </p>
    </section>
</main>

</body>
</html>