<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Train Now</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/team10/css/styles.css" th:href="@{/team10/css/styles.css}" rel="stylesheet"/>

</head>

<body class="loggedin-page">
<div class="logo-background"></div>

<header>
    <img src="/team10/images/trainnow.png" alt="Train Now Logo" class="logo">
    <h1>Hello, User <span th:text="${username}"></span>!</h1>
</header>

<div class="options-container">
    <a th:href="@{/start-team05Workout}" class="option-button">Start Workout</a>
    <a th:href="@{/team05Workout-history}" class="option-button">Workout History</a>
</div>
</body>
</html>